language: c
install: make get-deps
before_install:
    - sudo apt-get update
    - sudo apt-get install -y check
compiler: 
    - gcc
scripts:
    - make get-deps
    - make prog
    # - gcc -Wall -o spell_check dictionary.o spell.o main.o
    # - ./spell_check test1.txt wordlist.txt